<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cal Embed Example</title>
  <!-- TODO: Paste pixel base codes (Meta, Reddit, TikTok, Google Ads, LinkedIn) here -->
  <!-- Example TikTok Pixel Code -->
  <script>
  !function (w, d, t) {
    w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
  var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
  ;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
    ttq.load('D32SVVBC77U0GC4S6V10');
    ttq.page();
  }(window, document, 'ttq');
  </script>
</head>
<body>
  <h1>Book a Call</h1>
  <div data-cal-embed data-cal-link="your-org/15min" style="width:100%;height:700px;"></div>
  <script type="module">
    import CalTracking from '../tracking/cal-tracking.js';
    CalTracking.init();
  </script>
  <script src="https://app.cal.com/embed/embed.js"></script>
</body>
</html>
